<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Login</title>
    <script src="/dependencies/vue3.global.js"></script>
  </head>

  <body>
    <div id='menu'></div>
    <div id='app'>
      <input type='text' v-model='username' placeholder = 'User name' />
      <input type='password' v-model='password' placeholder='Password' />
      <button @click='login'>Login</button>

      <button @click='signup'>Signup</button>
    </div>

    <script type='module' src='/src/components/menu.js'></script>
    <script src = '/src/auth.js' type='module'></script>
  </body>
</html>

