<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Profile</title>
    <script src="./dependencies/vue3.global.js"></script>
  </head>

  <body>
    <div id='app'>
      <input type='text' placeholder='name' v-model='name' />
      <input type='text' placeholder='email' v-model='email' />

      <div>
        <h3>Social Media links</h3>
        <div v-for='link in links'>
          <input type='text' v-model='link.name' placeholder='url' />
        </div>

      <button @click="editProfile">Submit</button>
    </div>

    <script type='module' src='./src/profile.js'></script>
  </body>
</html>

