<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Video | ZilTv</title>
    <script src="/dependencies/vue3.global.js"></script>
    <link href='/video.css' rel='stylesheet' />
    <link href='/video.page.css' rel='stylesheet' />
  </head>

  <body>
    <div id='menu'></div>
    <div id='videoApp'>
      <div v-for='(badge, key) in badges' :key='key'>
        <img :src='badge.imgUri' />
      </div>

      <div id='videoViewerT'>
      </div>

      <p>{{ video.name }}</p>
    </div>

    <div id='comments'>
      <h5 class='title'>Comments</h5>
      <div>
        <div class='comment-box' v-for='comment in comments'>
          <p class='comment'>{{comment.text}} </p>
          <a target='_blank' :href="'/profile/' + comment.poster.id">
            <p class='user'>{{comment.poster.name}}
            <img class='badge' v-for='badge in comment.poster.badges' :src='badge.imgUri' />
            </p>
          </a>
        </div>
        <div id='addComment' v-if='canComment'>
          <h6>Add a comment</h6>
          <textarea v-model='newComment' placeholder='Type your comment...'></textarea>
          <button @click='postComment'>Post Comment</button>
        </div>

        <div v-else>
          <p><a href='/login'>Log in to post a comment</a></p>
        </div>
      </div>
    </div>

    <script type='module' src='/src/components/menu.js'></script>
    <script type='module' src='/src/video.js'></script>
    <script type='module' src='/src/videoComments.js'></script>
    <script type='module' src='/src/videoViewerTemplate.js'></script>
    <script type='module' src='/src/videoViewerScript.js'></script>
  </body>
</html>

