<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Loading... | ZilTv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/dependencies/vue3.global.js"></script>
    <link href='/styles/general.css' rel='stylesheet' />
    <link href='/styles/video.css' rel='stylesheet' />
    <link href='/styles/video.page.css' rel='stylesheet' />
  </head>

  <body>
    <div id='menu'></div>
    <div id='videoApp'>
      <div v-for='(badge, key) in badges' :key='key'>
        <img :src='badge.imgUri' />
      </div>

      <div id = 'video-box1'>
        <div id='videoViewerT'>
        </div>

        <div id='badge-configs' v-if='badgeConfig && badgeConfig.length > 0'>
          <div id='creator-badges' class='badge-data'>
            {{ badgeConfigs }}
            <p>This creator is rewarding holders of the following NFTs with badges. Support this creator by buying one of these NFTs.</p>
            <p>You get cool badges for owning these NFTs</p>
            <div v-for='(badge, i) in badgeConfig'>
              <div v-if='i<3'>
                <div v-if='badge.nft && badge.nft.address'>
                  <a :href='badge.nft.url' target='_blank'>
                    <span v-if='badge.nft && badge.nft.address'> {{ badge.nft.name || badge.nft.address }}</span>
                    <span v-else> {{ badge.nftAddress }}</span>
                  </a>
                </div>
                <p v-if='badge.specifyTokens=="oneOf"'>one of the following tokens: <span>{{ badge.tokenIDs.join(',') }}</span></p>
                <p v-else-if='badge.specifyTokens=="allOf"'>all of the following tokens: <span>{{ badge.tokenIDs.join(',') }}</span></p>
                <img class='badge' :src='badge.badgeImg' />
              </div>
            </div>
          </div>
          <div id='user-owned-badges' class='badge-data'>
            <p v-if='noConnectWallet'>Connect your wallet to see how many badges you have.</p>
            <div v-else>
              <p>You have the following badges</p>
            </div>
          </div>
        </div>
      </div>

      <p id='video-name'>{{ video.name }}</p>
    </div>

    <div id='comments'>
      <h5 class='title'>Comments</h5>
      <div>
        <div class='comment-box' v-for='comment in comments'>
          <p class='comment'>{{comment.text}} </p>
          <a target='_blank' :href="'/profile/' + comment.poster.id">
            <div class='badges'>
              <img class='badge' v-for='badge in comment.poster.badges' :src='badge.imgUri' />
            </div>
            <div class='details'>
              <p class='user'>{{comment.poster.name}}
            </div>
              </p>
          </a>
        </div>
        <div id='addComment' v-if='canComment'>
          <h6>Add a comment</h6>
          <textarea v-model='newComment' placeholder='Type your comment...'></textarea>
          <button @click='postComment'>Post Comment</button>
        </div>

        <div v-else>
          <p><a href='/login'>Log in to post a comment</a></p>
        </div>
      </div>
    </div>

    <script type='module' src='/src/components/menu.js'></script>
    <script type='module' src='/src/badgeConfig.vue.js'></script>
    <script type='module' src='/src/video.js'></script>
    <script type='module' src='/src/videoComments.js'></script>
    <script type='module' src='/src/videoViewerTemplate.js'></script>
    <script type='module' src='/src/videoViewerScript.js'></script>
  </body>
</html>

