:root {
    --red: red;
    --darkest-blue: #18142f;
    --dark-blue: #18142f;
    --blue: #1f1a3c;
    --light-blue: #393164;
    --lightest-blue: #393164;
    --torquoise: #14343c;
    --black: black;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: var(--dark-blue);
    color: white;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}
.text-center {
    text-align: center;
}

.avatar {
    width: 50px;
    height: 50px;
}

label {
    display: block;
    padding: 1rem 0;
}

.badge {
    width: 32px;
    height: 32px;
}

body > div {
    padding: 2rem;
}

/* MENU */
#menu {
    background: var(--light-blue);
    color: white;
    padding: 0.5rem 1rem;
}
#menu > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu #login-button {
    margin-left: 2rem;
    font-size: 2rem;
}

#menu .connnect-wallet {
    padding: 1rem;
    border: 2px solid var(--dark-blue);
}
