@import "other.css";
@import "menu.css";

:root {
    --red: red;
    --yellow: #fff94b;
    --chalk: #e0eda0;
    --readable-red: #440606;
    --pink: pink;
    --darkest-blue: #18142f;
    --dark-blue: #18142f;
    --blue: #1f1a3c;
    --light-blue: #393164;
    --lightest-blue: #393164;
    --torquoise: #14343c;
    --black: black;
}
