#app {
    padding: 3rem;
}
#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 80px 50px;
}

#video-grid .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#video-grid p.video-creator {
    margin: 0;
}

#video-grid .video-details {
    display: flex;
}

#video-grid > * {
    height: 200px;
    border-radius: 50px;
}
img.video-thumbnail {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.video-title {
    font-weight: 600;
    text-underline: none;
    color: white;
}
