/* MENU */
#menu {
    background: var(--light-blue);
    color: white;
    padding: 0.5rem 1rem;
}

#menu a, #menu a:visited {
    border: none;
}

#menu .menu-two {
    display: flex;
    align-items: space-between;
}
#menu .menu-two > * {
    margin-left: 3rem;
}

#menu > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu #login-button {
    margin-left: 2rem;
    font-size: 2rem;
}

#menu .connnect-wallet {
    padding: 1rem;
    border: 2px solid var(--dark-blue);
}

