img.badge {
    width: 32px;
    height: 32px;
}

#video-box1 {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

#creator-badges {
    background: var(--torquoise);
    width: 400px;
}

#video-name {
    font-weight: 600px;
    font-size: 2rem;
}

#creator-badges img.badge {
    width: 50px;
    height: 50px
}

.badge-data {
    padding: 1rem;
    border-radius: 5px;
}

.comment-box {
    margin-bottom: 2rem;
}

.comment-box .badge {
    width: 23px;
    height: 23px;
    margin-left: 0.5rem;
    box-shadow: 2px 2px 6px 2px var(--chalk);
}

.comment-box .user {
    display: flex;
    align-items: center;
}
.comment-box p {
    margin: 0.2rem;
}
