img.badge {
    width: 32px;
    height: 32px;
}

#video-box1 {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

#creator-badges {
    background: var(--torquoise);
    width: 400px;
}

#video-name {
    font-weight: 600px;
    font-size: 2rem;
}

#creator-badges img.badge {
    width: 50px;
    height: 50px
}

.badge-data {
    padding: 1rem;
    border-radius: 5px;
}
